@import "./variables.css";
@import "./reset.css";
@import "./post_style.css";
@import "./myinfo.css";

* {
  box-sizing: border-box;
}
@media (min-width: 250px) and (max-width: 540px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
  }
}
@media (min-width: 541px) {
  .wrapper {
    width: 414px;
    height: 1000px;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.wrapper {
  position: relative;
}
header {
  /* width: 100%; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.header_left > span:first-child {
  padding-right: 15px;
}
.header_left > span:last-child {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Courier, monospace;
  font-size: 19px;
}
.header_right > span {
  padding-left: 15px;
}

main {
  padding: 5px;
  max-height: 90%;
  overflow: scroll;
}
.post {
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid var(--border-grey);
}
.post_title,
.post_content {
  padding-right: 3px;
  padding-bottom: 10px;
}
.post_title {
  font-size: 16px;
}
.post_content {
  font-size: 13px;
  color: var(--content-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post_details {
  font-size: 13px;
  color: var(--detail-grey);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.post_details_right,
.post_details_thumbs,
.post_details_comments {
  display: flex;
}
.post_details_right > div > span {
  padding-right: 5px;
}
.post_details_thumbs {
  padding-right: 2px;
  color: var(--main-red-color);
}
.post_details_comments {
  color: var(--main-green-color);
}
button {
  padding: 10px 15px;
  border: 1px solid var(--button-grey);
  z-index: 1;
  position: absolute;
  bottom: 55px;
  left: 38%;
  border-radius: 20px;
  background-color: rgb(253, 253, 253);
}
button > i {
  color: var(--main-red-color);
}
button > span {
  font-weight: 600;
  font-size: 15px;
}
